### Final Data Processing -- Zooplankton Data (CCS zooplankton surveys conducted between 2008 and 2018)

This script takes the zooplankton survey dates CSV (2008-2018) and reformats it for plotting.

In [2]:
import pandas as pd

In [4]:
# read in zooplank data (pre cleaned in google sheets) - spatial data?
zooplank = pd.read_csv('/Users/cristiana/Documents/Duke/MP/Python/Data/Processed/Zooplankton_clean.csv',
                    parse_dates = ['Date'])

zooplank

         Date     DataType
0  2011-02-17  zooplankton
1  2011-02-24  zooplankton
2  2011-03-17  zooplankton
3  2011-04-19  zooplankton
4  2011-04-25  zooplankton
..        ...          ...
64 2018-04-13  zooplankton
65 2018-04-22  zooplankton
66 2018-04-27  zooplankton
67 2018-04-30  zooplankton
68 2018-05-06  zooplankton

[69 rows x 2 columns]