In [2]:
# import geopandas
import geopandas as gpd
import pandas as pd

In [4]:
# point to our near_analysis output
near_output = r"V:\CourseProject\Data\Output\ShipsCCB_Cluster_NearOutput.shp"

# read in attributes as gdf
CCBships = gpd.read_file(near_output)

In [12]:
# bring in vessel data to join
vessel_table = r"V:\CourseProject\Data\Zone19_2014_01.gdb\Zone19_2014_01_Vessel"

# read in data as df
VesselData = pd.read_csv(r"V:\CourseProject\Data\Output\VesselTable.csv")
VesselCodes = pd.read_csv(r"V:\CourseProject\Data\Output\VesselTypeCodes.csv")

In [11]:
VesselData.head() # 967 rows / unique MMSIs

        MMSI  VesselType  Length  Width
0  367733798          60       0      0
1  367730013           0      18      6
2  366195703          60      71     15
3  367418507          40      47     12
4  367082453          52       0      0

In [ ]:
# Join vessel code/types to vessel data, then join vessel data to CCBship_cluster

In [3]:
CCBships.head()

,OBJECTID,SOG,COG,Heading,ROT,BaseDateTi,Status,VoyageID,MMSI,ReceiverTy,ReceiverID,Latitude,NEAR_FID,NEAR_DIST,NEAR_FC,geometry
0,2145649,0.0,346.6,511.0,128.0,2014-01-17,0,196,367140660,D,01MN,42,-1,-1.0,None,POINT (-70.50320 41.77082)
1,1557158,0.0,232.0,511.0,128.0,2014-01-12,0,196,367140660,D,01MN,42,-1,-1.0,None,POINT (-70.50319 41.77083)
2,3470290,6.3,214.0,213.0,0.0,2014-01-27,0,4656,366002491,D,01MN,42,-1,-1.0,None,POINT (-70.56581 41.76774)
3,1535911,0.0,32.1,511.0,128.0,2014-01-12,0,196,367140660,r,01RORL1,42,-1,-1.0,None,POINT (-70.50321 41.77084)
4,1320077,0.0,298.9,511.0,128.0,2014-01-11,0,196,367140660,r,01RORL1,42,-1,-1.0,None,POINT (-70.50325 41.77085)

In [20]:
CCBships['MMSI'].nunique() # 54 unique MMSIs
CCBships['VoyageID'].nunique() # 112 unique voyage IDs

112

In [26]:
Voyage35 = CCBships.query('VoyageID == 35')
Voyage35['MMSI'].unique()

array([366839048], dtype=int64)

In [7]:
CCBships.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 88066 entries, 0 to 88065
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    88066 non-null  int64
 1   SOG         88066 non-null  float64
 2   COG         88066 non-null  float64
 3   Heading     88066 non-null  float64
 4   ROT         88066 non-null  float64
 5   BaseDateTi  88066 non-null  object
 6   Status      88066 non-null  int64
 7   VoyageID    88066 non-null  int64
 8   MMSI        88066 non-null  int64
 9   ReceiverTy  88066 non-null  object
 10  ReceiverID  88066 non-null  object
 11  Latitude    88066 non-null  int64
 12  NEAR_FID    88066 non-null  int64
 13  NEAR_DIST   88066 non-null  float64
 14  NEAR_FC     2119 non-null   object
 15  geometry    88066 non-null  geometry
dtypes: float64(5), geometry(1), int64(6), object(4)
memory usage: 10.8+ MB

In [25]:
# PTown points
PTown = CCBships.query('NEAR_FC == "V:\\CourseProject\\ShipTracker.gdb\\PTown_feature"')
PTown.info()
#PTown['VoyageID'].nunique()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1962 entries, 205 to 88057
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    1962 non-null   int64
 1   SOG         1962 non-null   float64
 2   COG         1962 non-null   float64
 3   Heading     1962 non-null   float64
 4   ROT         1962 non-null   float64
 5   BaseDateTi  1962 non-null   object
 6   Status      1962 non-null   int64
 7   VoyageID    1962 non-null   int64
 8   MMSI        1962 non-null   int64
 9   ReceiverTy  1962 non-null   object
 10  ReceiverID  1962 non-null   object
 11  Latitude    1962 non-null   int64
 12  NEAR_FID    1962 non-null   int64
 13  NEAR_DIST   1962 non-null   float64
 14  NEAR_FC     1962 non-null   object
 15  geometry    1962 non-null   geometry
dtypes: float64(5), geometry(1), int64(6), object(4)
memory usage: 260.6+ KB

In [22]:
# Canal points
Canal = CCBships.query('NEAR_FC == "V:\\CourseProject\\ShipTracker.gdb\\CanalNE_feature"')
Canal['VoyageID'].nunique()

75